.App {
  font-family: sans-serif;
  text-align: center;
}

.Header {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  width: 700px;
  position: relative;
  top: 60px;
}

img {
  position: relative;
  left: 350px;
  top: 80px;
}

.theWord {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  width: 260px;
  max-height: 40px;
  position: relative;
  border: solid 2px blue;
  text-align: center;
  text-align-last: center;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(27, 6, 6, 0.575);
}

.rotate {
  animation: rotate-keyframes;
  transform-origin: center;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.56, 0.2, 0.3, 1.54);
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}
